/* Start Clases de flex */
.icon {
    /* Establece un ancho de 60px para elementos con esta clase */
    width: 60px;
}
.flex-container {
    /* Convierte el contenedor en un contenedor flexible */
    display: flex;
    /* Define la dirección de los elementos hijos como una fila */
    flex-direction: row;
    /* Distribuye el espacio entre los elementos hijos, dejando un espacio igual entre ellos */
    justify-content: space-between;
    /* Permite que los elementos hijos se envuelvan en múltiples líneas si no caben en una sola línea */
    flex-wrap: wrap;
    /* Establece un espacio de 15px entre los elementos hijos */
    gap: 15px;
}
.card {
    /* Agrega un borde de 1px sólido de color negro */
    border: 1px solid #000;
    background-color: #ecf1f0a1;
    /* Redondea los bordes del elemento */
    border-radius: 15px;
    /* Añade un relleno interno de 20px alrededor del contenido */
    padding: 20px;
    /* Establece el ancho máximo del elemento en 300px */
    max-width: 300px;
}
.primero{
    /* Modifica el orden visual de los elementos con esta clase a -1 */
    order: -1;
}
/* End Clases de flex */
/* Start Clases position */
.ni-card {
    /* Establece la posición como relativa para el elemento */
    position: relative;
    width: 600px;
    border-radius: 15px;
}
.ni-card img {
    width: 100%;
    border-radius: 15px;
    /* Hereda la propiedad de visualización de su elemento contenedor, en este caso el de 'mi-card' */
    display: inherit;
}
.box-hover {
    /* Posiciona el elemento de forma absoluta en relación con su contenedor padre */
    position: absolute;
    border-radius: 15px;
    /* Sitúa el elemento en la parte superior del contenedor */
    top: 0;
    background-color: #00000080;
    /* Hace que el elemento ocupe el 100% del alto y ancho de su contenedor */
    height: 100%;
    width: 100%;
    /* Define la opacidad inicial del elemento como 0 */
    opacity: 0;
}
.box-hover:hover {
    /* Al pasar el mouse sobre el elemento, cambia la opacidad a 1, haciéndolo completamente visible */
    opacity: 1;
}
/* Ambos establecen posiciones absolutas, uno en la esquina superior derecha y el otro en la esquina inferior derecha, respectivamente */
.mas {
    position: absolute;
    right: 13px;
    top: 13px;
}
.more-option {
    position: absolute;
    right: 13px;
    bottom: 13px;
}
/* End Clases position */
/* Start Clases grid */
.container-grid{
    /* Establece el contenedor como un grid */
    display: grid;
    gap: 15px;
    /* Crea un grid de 4 columnas de igual tamaño */
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    background-color: #5fb1ef6b;
}
.cell:hover {
    border: 1px yellow solid;
}
.area {
    background-color: #00000080;
    /* Ocupa las dos primeras columnas */
    grid-column: 1/3;
}
/* End Clases grid */